.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 10;

}

.header-bg {
background-color: rgba(0, 0, 0, 0.85);
transition: 0.5s;
}

.nav-menu{
    display: flex;
}

.nav-menu li {
    padding: 0 1rem;
}
.nav-menu li a {
    font-size: 1.2rem;
    font-weight: 500;
}
.hamburger {
    display: none;
}

@media screen and (max-width: 1040px) {
    .span{
        font-size: 2rem;
        font-weight: 500;
        color: white;
        cursor: pointer;
    }
    
    .nav-menu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.9);
        position: absolute;
        top:0;
        left: -100%;
        z-index: -3;
        transition: 0.3s;

    }
    .nav-menu.active{
        left: 0;
    }

    .nav-menu li {
        padding: 1rem 0;
    }
    .nav-menu li a {
        font-size: 2rem;
    }
     
.hamburger {
    display: initial;
}
}
.dropdown-content {
   display: none;
   position: absolute;
   top: 100%;
   left: 0;
   background-color: #fff;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.combo:hover .dropdown-content {
   display: block;
}

span {
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    cursor: pointer;
}

.dropl {
    list-style: none;
    padding: 0;
}

.dropl li {
    padding: 10px;
}

.dropl li a {
    text-decoration: none;
    color: #333;
}


.combo {
    position: relative;
}

